<div class="background">
      <img src="assets/japan.png" alt="japan" style="z-index: -100%; position: fixed">
    </div>
    
<mat-form-field style="text-align: center;" class="example-full-width">
  <input #autocompleteInput type="text"
         placeholder="Search"
         aria-label="Number"
         matInput
         (keyup) ="autoComplete.next(autocompleteInput.value)"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of (autoComplete$ | async)" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>


<div class="mat-elevation-z8" style="opacity: 1;" *ngIf="japaneseCity$ | async as japaneseCity">
    <table mat-table [dataSource]="japaneseCity">
  
      <ng-container matColumnDef="name";>
        <th mat-header-cell *matHeaderCellDef><h1>Name</h1></th>
        <td mat-cell *matCellDef="let element"><h2>{{element.name}}</h2></td>
      </ng-container>
  
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef><h1>Area</h1></th>
        <td mat-cell *matCellDef="let element"><h2>{{element.area}}</h2></td>
      </ng-container>
  
      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef><h1>Population</h1></th>
        <td mat-cell *matCellDef="let element"><h2>{{element.population}}</h2></td>
      </ng-container>
  
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef><h1>Details</h1></th>
        <td mat-cell *matCellDef="let element"> 
          <a mat-raised-button color="primary" routerLink="/city-details/{{element.id}}">More</a>
          <button mat-raised-button color="accent" (click)="updateCity(element.id)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteCity(element.id)">Delete</button>
            
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

 
