<div class="background">
  <img src="assets/attractions.jpg" alt="attractions" style="position: fixed ">
</div>

<form [formGroup]="attractionForm">
  <mat-form-field class="example-form-field">
    <mat-label>Name of attraction</mat-label>
    <input matInput formControlName="name" type="text">
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>URL</mat-label>
    <input matInput formControlName="url" type="text">
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>City</mat-label>
    <mat-select formControlName="city" multiple>
      <mat-option *ngFor="let item of (citySelect$ | async) " [value]="item.id">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="!attractionId" mat-raised-button color="primary" (click)="addAttraction()" [disabled]="!attractionForm.valid">Save</button>
  <button *ngIf="attractionId" mat-raised-button color="warn" (click)="updateAttraction()" [disabled]="!attractionForm.valid">Change</button>
</form>